@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
header{
    width: 100vw;
    background-color: #EEF1FF;
}

navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 12px; */
    padding: 4px;
    width: 80vw;
    margin: 0 auto;
}

navbar img{
    width: 120px;
    height: 100px;
}

navbar ul{
    display: flex;
}

navbar ul li{
    cursor: pointer !important;
    margin: 0 12px;
    padding: 0 2px;
    text-decoration: none;
    list-style: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B1B2FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: rgb(41, 41, 41) !important;
    text-decoration: none !important;
}

navbar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /* margin-top: 12px; */
    padding: 4px !important;
    background-color: #EEF1FF !important;
}

navbar img{
    width: 120px !important;
    height: 100px !important;
}

navbar ul{
    display: flex !important;
    margin-bottom: 0 !important;
}

li{
    /* cursor: pointer !important; */
    margin: 0 12px !important;
    padding: 0 2px !important;
    text-decoration: none !important;
    list-style: none !important;
}

.hover-underline-animation {
    display: inline-block !important;
    position: relative !important;
}
  
.hover-underline-animation:after {
    content: '' ;
    position: absolute !important;
    width: 100% !important;
    transform: scaleX(0) !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #B1B2FF !important;
    transform-origin: bottom right !important;
    transition: transform 0.25s ease-out !important;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1) !important;
    transform-origin: bottom left !important;
}
  

navbar button{
    margin-right:15px;
    padding: 10px;
    border: none;

}

navbar .toggle_btn{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    /* margin: 2rem 0; */
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: hieght 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a{
    padding: 10px;
}
.dropdown_menu .action-btn{
    width: 60% !important;
    margin-right: auto;
    margin-left: auto;
    display: block !important;
    margin: 12px auto !important;
}


.btn-1 {
    cursor: pointer;
    background: #B1B2FF;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Georgia;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:30px 0; 
}
  
.btn-1:hover {
    background: #7373af;
    
    text-decoration: none;
}


/* Image Auto Scroller */
.slider{
    width:90%;
    height:500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 20px auto;
}
#img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

img{
    z-index: -1;
    border-radius: 9px;
    width:100%;
    height:100%;
}

section .box{
    width: 60%;
    height: 180px;
    background-color: #B1B2FF;
    margin: -100px auto;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numbers h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 800;
    font-family: 'popins', 'sans-serif';
}

.num-title{
    text-align: center;
}


/* Event section */
.event{
    margin-top: 120px;
}

.search{
    width: 60rem;
    height: 12rem;
    background: #EEF1FF;
    margin: 2rem auto;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.search-box{
    margin: 0 12px ;
}

.search-box button{
    background: #E3DFFD;
    color: black;
    font-weight: 400 !important;
}

.search-box button:hover{
    background: #D2DAFF;
    color: black;
}

.event h4 {
    display: flex;
    flex-direction: row;
    font-size: 44px;
    font-weight: 800;
    width: 50%;
    margin: auto;
}

.event h4:before, h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

.event-card{
    display: flex;
    justify-content: space-evenly;
}

.card-allign{
    display :inline-block;
    margin: 40px;
    box-shadow: rgba(110, 110, 175, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* Click to action button*/
.parallax-section {
    position: relative;
    padding: 80px 0px;
    color: #ffffff;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
}

.parallax-section:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.80);
    z-index: 0;
}

.parallax-section .auto-container {
    position: relative;
    z-index: 5;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.parallax-section h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.parallax-section h3 {
    position: relative;
    font-size: 24px;
    margin-bottom: 30px;
}

.parallax-section .line {
    position: relative;
    width: 100px;
    height: 3px;
    background: #ffffff;
    margin: 0px auto 40px;
}
.parallax-section .theme-btn {
    margin: 0px 12px;
    color: rgba(255,255,255,0.80);
}
.parallax-section .theme-btn {
    margin: 0px 12px;
    color: rgba(255,255,255,0.80);
}
.light-btn {
    position: relative;
    display: inline-block;
    border: 2px solid #B1B2FF !important;
    background-color: rgba(255,255,255,0);
    color: #B1B2FF  ;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}

/* Blog section */
.article-heading{
    margin-top: 50px;
}

section h1 {
    font-family: sans-serif;
    margin: 50px auto;
    color: #000000;
    text-align: center;
    font-size: 44px;
    max-width: 600px;
    position: relative;
}
  
section h1:before {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: #5d4792;
    left: -100px;
    top: 50%;
    position: absolute;
}
  
section h1:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: #5d4792;
    right: -100px;
    top: 50%;
    position: absolute;
}

.c-bloghero {
    width: 100%;
    align-items: center;
    margin-top: 91px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    position: relative;
    top: 0;
    height: calc(100vh-91px);
}
.c-bloghero img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 838px;
}
.c-blogbg {
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
.c-container._10col {
    z-index: 19;
    max-width: 1080px;
}
.c-container {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}
.c-featuredarticle {
    height: 616px;
    align-items: center;
    margin-top: 0;
    display: flex;
    position: relative;
}
.c-featuredarticlecard {
    z-index: 10;
    width: 550px;
    background-color: #fff;
    border-radius: 10px;
    padding: 64px;
    position: relative;
    box-shadow: 3px 3px 32px rgba(0,0,0,.12);
}
.c-categorytag {
    color: #241d2b;
    background-color: rgba(127, 41, 202, 0.2);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 6px 16px;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none;
    display: inline-block;
}
.c-categorytag p{
    margin-top: 0;
    margin-bottom: 10px !important;
}
.c-textl {
    font-size: 40px;
    line-height: 52px;
}
.c-textl h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.c-textopensansxxs {
    color: #2b2b2c;
    margin-bottom: 0;
    font-family: Open Sans,sans-serif;
}
.c-button.featuredarticle {
    margin-top: 64px;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}
.c-button {
    color: #fff;
    background-image: linear-gradient(305deg,#6528F7,#A076F9);
    border-width: 0;
    border-radius: 20px;
    align-items: center;
    padding: 8px 24px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}
.c-featuredarticleimg {
    width: 700px;
    height: 100%;
    background-image: url('assets/img3.jpg');
    background-position: 0 0;
    background-size: cover;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

/* Article card section */
.cards {
    width: 80%;
    margin: 100px auto;
    display: flex;
    /* flex-wrap: wrap; */
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    /* max-width: 820px; */
    margin-top: 100px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('assets/img1.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('assets/img2.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover{
    background-image: url('assets/img3.jpg');
}

.card--4 .card__img, .card--4 .card__img--hover{
    background-image: url('assets/img4.jpg');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 1.25rem !important;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}


@media only screen and (max-width: 600px) {
    navbar {
        width: 100vw;
    }
    .toggle_btn{
        padding: 2px 10px;
    }
    navbar ul, .btn-1{
        display: none !important;
    }
    .slider{
        height: 320px;
    }
    .numbers h2{
        font-size: 1.3rem !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .numbers h4{
        font-size: 1rem !important;
        font-weight: 700 !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    section .box{
        width: 80% !important;
        height: 40% !important;
        margin-top: -50px;
        border-radius: 20px;
    }
    .numbers h1,h4{
        font-size: 12px !important;
    }
    .event h4{
        font-size: 1.3em !important;
    }
    .event{
        margin: 100px 0;
    }
    .event h1::after{
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        right: 40px;
    }
    navbar .toggle_btn{
        display: block !important;
        margin-right: 8px;
        
    }
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }
    .search{
        flex-direction: column;
        width: 90vw;
        border-radius: 30px;
        height: 30vh;
    }
    .search-box{
        padding: 12px 0;
    }
    .c-bloghero {
        padding-left: 0;
        background-color: #6528F7;
        margin-top: 2px;
    }
    .c-blogbg {
        display: none;
    }
    .c-container._10col.blog {
        max-width: 1300px;
        padding-left: 0;
        padding-right: 0;
    }
    .c-featuredarticlewrapper {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .c-featuredarticle {
        width: 100%;
        min-width: 320px;
        align-items: center;
        flex-direction: column-reverse;
    }
    .c-featuredarticlecard {
        width: 90%;
        text-align: left;
        padding: 24px;
    }
    .c-textl {
        font-size: 32px;
        line-height: 40px;
    }
    .c-textopensansxxs {
        font-size: 14px;
        line-height: 24px;
    }
    .c-button.featuredarticle {
        margin-bottom: 0;
        margin-left: 0;
    }
    .c-featuredarticleimg {
        width: 90%;
        flex: 1;
        margin-bottom: -10px;
        height: 530px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
    }
    .cards{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        margin: 15px auto;
    }
    .article-heading{
        margin-bottom: 0px;
    }
    section h1:before {
        width: 0px;
    }
    section h1:after {
        right: 0;
        margin-top: 22px;
        width: 100vw;
    }
}


