*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    padding: 4px;
}

nav ul li{
    text-decoration: none;
}

