@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 12px; */
    padding: 4px;
    background-color: #EEF1FF;
}

navbar img{
    width: 120px;
    height: 100px;
}

navbar ul{
    display: flex;
}

navbar ul li{
    cursor: pointer !important;
    margin: 0 12px;
    padding: 0 2px;
    text-decoration: none;
    list-style: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B1B2FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: rgb(41, 41, 41) !important;
    text-decoration: none !important;
}

navbar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /* margin-top: 12px; */
    padding: 4px !important;
    background-color: #EEF1FF !important;
}

navbar img{
    width: 120px !important;
    height: 100px !important;
}

navbar ul{
    display: flex !important;
    margin-bottom: 0 !important;
}

li{
    /* cursor: pointer !important; */
    margin: 0 12px !important;
    padding: 0 2px !important;
    text-decoration: none !important;
    list-style: none !important;
}

.hover-underline-animation {
    display: inline-block !important;
    position: relative !important;
}
  
.hover-underline-animation:after {
    content: '' ;
    position: absolute !important;
    width: 100% !important;
    transform: scaleX(0) !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #B1B2FF !important;
    transform-origin: bottom right !important;
    transition: transform 0.25s ease-out !important;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1) !important;
    transform-origin: bottom left !important;
}
  

navbar button{
    margin-right:15px;
    padding: 10px;
    border: none;

}

navbar .toggle_btn{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    /* margin: 2rem 0; */
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: hieght 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a{
    padding: 10px;
}
.dropdown_menu .action-btn{
    width: 60% !important;
    margin-right: auto;
    margin-left: auto;
    display: block !important;
    margin: 12px auto !important;
}


.btn-1 {
    cursor: pointer;
    background: #B1B2FF;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Georgia;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:30px 0; 
}
  
.btn-1:hover {
    background: #7373af;
    
    text-decoration: none;
}


/* Image Auto Scroller */
.slider{
    width:90%;
    height:500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 20px auto;
}
#img{
    width:100%;
    height:100%;
    object-fit: contain;
    position: relative;
    z-index: -1;
}

img{
    z-index: -1;
    border-radius: 9px;
    width:100%;
    height:100%;
    
}

section .box{
    width: 60%;
    height: 180px;
    background-color: #B1B2FF;
    margin: -100px auto;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numbers h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 800;
    font-family: 'popins', 'sans-serif';
}

.num-title{
    text-align: center;
}


/* Event section */
.event{
    margin-top: 120px;
}



.search{
    width: 60rem;
    height: 12rem;
    background: #EEF1FF;
    margin: 2rem auto;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.search-box{
    margin: 0 12px ;
}

.search-box button{
    background: #E3DFFD;
    color: black;
    font-weight: 400 !important;
}

.search-box button:hover{
    background: #D2DAFF;
    color: black;
}

.event h4 {
    display: flex;
    flex-direction: row;
    font-size: 44px;
    font-weight: 800;
    width: 50%;
    margin: auto;
}

.event h4:before, h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

.event-card{
    display: flex;
    justify-content: space-evenly;
}

.card-allign{
    display :inline-block;
    margin: 40px;
}

@media only screen and (max-width: 600px) {
    navbar ul, .btn-1{
        display: none !important;
    }
    section .box{
        width: 80% !important;
        height: 20% !important;
        margin-top: -0px;
    }
    .numbers h1,h4{
        font-size: 12px !important;
    }
    .event h4{
        font-size: 1.4em !important;
    }
    navbar .toggle_btn{
        display: block !important;
        margin-right: 8px;
        
    }
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }
}


