<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
  <title>Footer</title>
  <link rel="stylesheet" href="/component/footer.css">
</head>
<body>

  <footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-map-marker"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, Mumbai</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>5674382941</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail@info.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="https://i.postimg.cc/8kdzwwx4/pngwing-com.png" class="img-fluid" alt="logo" style="height: 75px;">
              </a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="https://facebook.com/"><i class="fa fa-facebook-f facebook-bg"></i></a>
              <a href="https://twitter.com/"><i class="fa fa-twitter twitter-bg"></i></a>
              <a href="https://google.com/"><i class="fa fa-google-plus google-bg"></i></a>
              <a href="https://instagram.com/"><i class="fa fa-instagram insta-bg"></i></a>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="http://127.0.0.1:5500/root/index.html">Home</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/event.html">Campaigns</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/ngo_reg.html">For NGO</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/forum.html">Forum</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fa fa-telegram"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2018, All Right Reserved Mithila</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="http://127.0.0.1:5500/root/index.html">Home</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/event.html">Campaigns</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/ngo_reg.html">For NGO</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/forum.html">Forum</a></li>
              <li><a href="http://127.0.0.1:5500/pages/html/blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../root/script.js"></script>
</body>
</html>