<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/component/navbar.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
  <header>
    <navbar>
      <a href="#"><img src="/root/assets/logo.png" alt="logo" /></a>
      <ul>
        <li class="hover-underline-animation"><a href="http://127.0.0.1:5500/root/index.html">Home</a></li>
        <li class="hover-underline-animation"><a href="http://127.0.0.1:5500/pages/html/ngo_reg.html">Are you NGO?</a></li>
        <li class="hover-underline-animation"><a href="http://127.0.0.1:5500/pages/html/event.html">Campaigns</a></li>
        <li class="hover-underline-animation"><a href="http://127.0.0.1:5500/pages/html/forum.html">Forum</a></li>
        <li class="hover-underline-animation"><a href="http://127.0.0.1:5500/pages/html/blog.html">Blog</a></li>
      </ul>
      <div>
        
        <a href="http://127.0.0.1:5500/pages/html/login.html"><button class="btn-1">Login</button></a>
        
        <button class="user-btn">
          <a href="http://127.0.0.1:5500/pages/html/profile.html"><i class="fa-solid fa-user"></i></a>
        </button>
      </div>

      <div class="toggle_btn"><i class="fa-solid fa-bars"></i></div>
    </navbar>
    <div class="dropdown_menu">
      <li class=""><a href="http://127.0.0.1:5500/root/index.html">Home</a></li>
      <li class=""><a href="#">Service</a></li>
      <li class=""><a href="../pages/html/event.html">Campaigns</a></li>
      <li class=""><a href="../pages/html/forum.html">Forum</a></li>
      <li class=""><a href="#">Blog</a></li>
      <li class=""><a href="#">About Us</a></li>
      <button class="btn-1 action-btn">
        <a href="/pages/html/login.html">Login</a>
      </button>
    </div>
  </header>
  <script src="/component/navbar.js"></script>
</body>
</html>